<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>News App</title>
</head>

<body>
  <div class="header2 bg-success-gradiant">
    <div>
      <nav class="navbar navbar-expand-lg h2-nav">
        <a class="navbar-brand" href="#"><img src="/img/avatars/LogoB.png" alt="NewsApp" width="50px" height="50px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header2" aria-controls="header2" aria-expanded="false" aria-label="Toggle navigation">
          <span class="icon-menu"><i class="fa fa-bars"></i></span>
        </button>
        <div class="collapse navbar-collapse hover-dropdown" id="header2">
          <ul class="navbar-nav">
            <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/articles">Articles</a></li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active"><a class="nav-link" href="/login">Login</a></li>
            <li class="nav-item"><a class="btn rounded-pill btn-dark py-2 px-4" href="/register">Admin Sign up</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <div class="container">
    <div class="card shadow-lg o-hidden border-0 my-5">
      <div class="card-body p-0">
        <div class="row">
          <div class="col-lg-5 d-none d-lg-flex">
            <div class="flex-grow-1 bg-register-image" style="background-image: url('/images/g.jpg');"></div>
          </div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h4 class="text-dark mb-4">Create an Account!</h4>
              </div>
              <form class="user" method="POST" action="/register">
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input class="form-control form-control-user" id="exampleFirstName" type="text" placeholder="First Name" name="first_name">
                  </div>
                  <div class="col-sm-6">
                    <input class="form-control form-control-user" id="exampleLastName" type="text" placeholder="Last Name" name="last_name">
                  </div>
                </div>
                <div class="form-group">
                  <input class="form-control form-control-user" id="exampleInputEmail" type="email" aria-describedby="emailHelp" placeholder="Email Address" name="email">
                </div>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input class="form-control form-control-user" id="examplePasswordInput" type="password" placeholder="Password" name="password">
                  </div>
                  <div class="col-sm-6">
                    <input class="form-control form-control-user" id="exampleRepeatPasswordInput" type="password" placeholder="Repeat Password" name="password_repeat">
                  </div>
                </div>
                <button class="btn btn-primary btn-block text-white btn-user" type="submit">Register Account</button>
                <hr>
              </form>
              <!-- <div class="text-center"><a class="small" href="/forgot-password">Forgot Password?</a></div> -->
              <div class="text-center"><a class="small" href="/login">Already have an account? Login!</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
